{
  "plugins": [
    ["import", { "libraryName": "antd" , "libraryDirectory": "es"}], // "style": "css" }], // `style: true` for less
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": ["last 5 version"]
    }],
    "@babel/preset-react"
  ]
}
