.services {
  padding-top: 50px;
  padding-bottom: 100px;
}
.services__body {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}
.services__block {
  position: relative;
  padding: 30px 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(25% - 40px);
  background: linear-gradient(45deg, #dbf7ff 0%, #e8faff 100%);
  border-radius: 4px;
  box-shadow: 0 0 0 0 rgba(28,28,28,.4);
  transition: all .3s ease;
}
.service__block__bcg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bcg-3.png) no-repeat -40px 40px;
  background-size: 80%;
  opacity: .4;
  border-radius: inherit;
  overflow: hidden;
}
.service__block__content {
  position: relative;
}
.services__block__img {
  margin-bottom: 20px;
  margin-right: -40px;
  margin-top: -20px;
  margin-left: auto;
  width: 100%;
  transition: transform .4s ease;
}
.services__block__caption {
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 500;
  color: #1c1c1c;
  transition: color .3s ease;
}
.services__block:hover {
  background: linear-gradient(45deg, #00c2ff 0%, #5fd9ff 100%);
  box-shadow: 0 4px 20px 0 rgba(28,28,28,.4);
}
.services__block:hover .services__block__caption {
  color: #fff;
}
.services__block:hover .services__block__img {
  transform: scale(1.3);
}

@media (max-width: 992px) {
  .services__body {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .services__block {
    margin-bottom: 40px;
    width: calc(50% - 40px);
    max-width: 292px;
  }
}
@media (max-width: 768px) {
  .services {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .services__block__caption {
    font-size: 23px;
  }
}
@media (max-width: 576px) {
  .services__body {
    margin: 0;
  }
  .services__block {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: none;
  }
  .service__block__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .services__block__img {
    margin-bottom: -40px;
    max-width: 140px;
    order: 1;
  }
  .services__block:hover {
    background: linear-gradient(45deg, #dbf7ff 0%, #e8faff 100%);
    box-shadow: 0 0 0 0 rgba(28,28,28,.4);
  }
  .services__block:hover .services__block__caption {
    color: #1c1c1c;
  }
  .services__block:hover .services__block__img {
    transform: scale(1);
  }
  .service__block__bcg {
    background: url(../img/bcg-3.png) no-repeat -10px 10px;
    background-size: auto 120%;
  }
}

.s-header {
  position: relative;
  background: linear-gradient(0deg, #00c2ff, #333333);
}
.s-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/dizel/bcg-shtrih.png) repeat center;
  background-size: 320px;
  opacity: .05;
}
.s-header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -40px;
  width: 20%;
  max-width: 280px;
  height: 100%;
  background: url(../img/bcg-3.png) no-repeat center;
  background-size: 100% auto;
  overflow: hidden;
  opacity: .1;
}
@media (max-width: 576px) {
  .s-header::before {
    left: -40px;
    width: 40%;
  }
}
.s-header--green {
  position: relative;
  background: linear-gradient(0deg, #c0f000, #232c00);
}
.s-header--red {
  position: relative;
  background: linear-gradient(0deg, #e10000, #370000);
}
.s-header--grey {
  position: relative;
  background: linear-gradient(0deg, #818181, #2f3134);
}
.s-header .container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 1;
}
.s-header__body {
  display: flex;
  align-items: center;
}
.s-header__text {
  width: 70%;
}
.s-caption-h1 {
  font-size: 52px;
  line-height: 1em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.s-caption-h1--i1 {
  display: block;
  font-size: 32px;
  line-height: 1em;
  font-weight: 700;
  color: #00c2ff;
}
.s-caption-h1--i2 {
  display: block;
  margin-left: 80px;
  font-size: 32px;
  line-height: 1em;
  font-weight: 700;
  color: #00c2ff;
}
.s-header--green .s-caption-h1--i1,
.s-header--green .s-caption-h1--i2 {
  color: #c0f000;
}
.s-header--red .s-caption-h1--i1,
.s-header--red .s-caption-h1--i2 {
  color: #e10000;
}
.s-header--grey .s-caption-h1--i1,
.s-header--grey .s-caption-h1--i2 {
  color: #818181;
}
.s-header__list {
  padding: 0;
  margin-top: 40px;
  margin-left: 80px;
  list-style: none;
  font-size: 23px;
  line-height: 1.2em;
  font-weight: 300;
  color: rgba(255,255,255,.6);
}
.s-header__list > li {
  margin-bottom: 10px;
}
.s-header__list strong {
  font-weight: 500;
  color: #fff;
}
.s-header__btns {
  display: flex;
  margin-top: 70px;
}
.s-header__btns .btn-1 {
  margin-right: 20px;
}
.s-header__img {
  width: 30%;
}
.s-header__img img {
  width: 200%;
}
.sd-header__img img {
  margin-left: -20%;
}
.sm-header__img img {
  margin-left: -30%;
  width: 160%;
}

@media (max-width: 992px) {
  .s-header__list {
    margin-left: 0;
  }
  .s-caption-h1 {
    font-size: 42px;
  }
  .s-caption-h1--i1,
  .s-caption-h1--i2 {
    font-size: 27px;
  }
  .sd-header__img img {
    margin-left: -20%;
  }
}
@media (max-width: 768px) {
  .s-header__list {
    width: calc(100% - 50px);
  }
  .sd-header__img img {
    margin-left: -80px;
  }
  .s-header__list {
    font-size: 18px;
  }
  .s-caption-h1 {
    font-size: 36px;
  }
  .s-header__btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .s-header__btns .btn-1 {
    margin-right: 0;
    margin-bottom: 7px;
  }
}
@media (max-width: 576px) {
  .sm-header__img img {
    margin-left: -120px;
  }
  .s-header__text {
    width: 100%;
  }
  .s-caption-h1 {
    font-size: 32px;
  }
  .s-caption-h1--i1,
  .s-caption-h1--i2 {
    font-size: 21px;
  }
  .s-caption-h1--i2 {
    margin-left: 40px;
  }
  .s-header__list {
    width: calc(100% - 124px);
  }
  .s-header__img {
    width: 0;
  }
  .s-header__img img {
    width: 320px;
  }
  .sd-header__img img {
    margin-left: -120px;
  }
}
@media (max-width: 418px) {
  .s-caption-h1 {
    font-size: 26px;
  }

}


.sd-test {
  padding-top: 140px;
  padding-bottom: 110px;
}
.sd-test__bcg {
  top: -120px;
  right: 0;
  opacity: .5;
}
.sd-test__body {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.sd-test__img {
  position: relative;
  width: 40%;
}
.sd-test__img img {
  margin-left: auto;
  width: 70%;
}
.sd-test__img::after {
  content: '';
  position: absolute;
  bottom: -15px;
  right: 40px;
  width: 80%;
  height: 40px;
  background: url(../img/caption/caption-1.png) no-repeat center;
  background-size: 100%;
  z-index: 1;
}
.sd-test__img::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 20px;
  width: 210px;
  height: 8px;
  background: url(../img/caption/caption-3.png) no-repeat center;
  background-size: 100%;
  z-index: 2;
}
.sd-test__text {
  position: relative;
  margin-left: -40px;
  color: #193b46;
  width: calc(60% + 40px);
  z-index: 1;
}
.sd-test__p-1 {
  font-size: 27px;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.sd-test__p-2 {
  font-size: 34px;
  line-height: 1em;
  font-weight: 600;
  color: #00c2ff;
  text-transform: uppercase;
}
.sd-test__p-3 {
  margin-left: 71px;
  font-size: 32px;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.sd-test__p-4 {
  margin-top: 10px;
  font-size: 27px;
  line-height: 1em;
  color: #193b46;
}
.sd-test__btn {
  margin-top: 40px;
}

@media (max-width: 992px) {
  .sd-test {
    padding-top: 100px;
  }
  .sd-test__bcg {
    top: -90px;
  }
  .sd-test__img img {
    width: 100%;
  }
  .sd-test__text {
    margin-left: 0;
    width: 60%;
  }
  .sd-test__p-3 {
    margin-left: 0;
  }
  .sd-test__img::before {
    left: -30px;
  }
}
@media (max-width: 768px) {
  .sd-test__p-1,
  .sd-test__p-2,
  .sd-test__p-3 {
    font-size: 24px;
  }
  .sd-test__p-4 {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .sd-test {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .sd-test__bcg {
    top: -50px;
  }
  .sd-test__img {
    width: 0;
  }
  .sd-test__img img {
    margin-left: -80px;
    width: 200px;
  }
  .sd-test__text {
    padding-left: 100px;
    width: calc(100% - 100px);
  }
  .sd-test__p-1, 
  .sd-test__p-2, 
  .sd-test__p-3 {
    font-size: 21px;
  }
  .sd-test__img::after {
    right: -90px;
    width: 160px;
  }
  .sd-test__img::before {
    left: auto;
    right: -40px;
    bottom: -14px;
  }
}
@media (max-width: 418px) {
  .sd-test__text {
    padding-left: 50px;
    width: calc(100% - 50px);
  }
  .sd-test__img {
    margin-bottom: 70px;
  }
}


.sd-save__body {
  padding: 50px 50px 80px 50px;
  margin-left: 30px;
  margin-right: 30px;
  color: #002632;
  border-radius: 4px;
  background-color: #e8faff;
  background-image: url(../img/bcg-3.png);
  background-size: auto 560px;
  background-repeat: no-repeat;
  background-position: 111% 105%;
  box-shadow: 0 20px 60px 0 rgba(28,28,28,.07);
}
.sd-save__list {
  list-style: none;
  max-width: 80%;
}
.sd-save__list__item {
  position: relative;
  padding-left: 58px;
  margin-bottom: 32px;
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 300;
}
.sd-save__bcg {
  bottom: -160px;
  left: -120px;
}
.sd-save__list__item > span {
  position: absolute;
  top: 0;
  left: 24px;
  font-size: 32px;
  line-height: 1em;
  font-weight: 700;
  color: #00c2ff;
}
.sd-save__caption {
  padding-bottom: 20px;
}
.sd-save__caption > p {
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 500;
}
.sd-save__description {
  color: #002632;
}
.sd-save__description > strong {
  color: #00c2ff;
}

@media (max-width: 992px) {
  .sd-save__body {
    margin-left: 0;
    margin-right: 0;
  }
  .sd-save__list {
    width: 100%;
    max-width: none;
  }
  .sd-save__list__item {
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .sd-save__body {
    padding: 40px 30px 50px 30px;
    background-image: url(../img/bcg-3-m.png);
    background-size: 200px;
  }
  .sd-save__list__item {
    padding-left: 42px;
    margin-bottom: 24px;
    font-size: 18px;
  }
  .sd-save__list__item > span {
    left: 15px;
    font-size: 27px;
  }
  .sd-save__list__caption .caption__h2 {
    margin-bottom: 5px;
  }
}
@media (max-width: 576px) {
  .sd-save__list__item {
    padding-left: 22px;
  }
  .sd-save__list__item > span {
    left: 0px;
    font-size: 24px;
  }
}
@media (max-width: 418px) {
  .sd-save__body {
      padding: 30px 20px 40px 20px;
  }
}


.sd-installment {
  padding-top: 140px;
  padding-bottom: 50px;
}
.sd-installment__body {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  align-items: center;
}
.sd-installment__text {
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}
.sd-save__list__caption .caption__h2 {
  margin-bottom: 8px;
}
.sd-installment__p {
  position: relative;
}
.sd-installment__clock {
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}
.sd-installment__btn {
  margin-top: 40px; 
  text-align: center;
}
@media (max-width: 768px) {
  .sd-installment {
    padding-top: 90px;
    padding-bottom: 40px;
  }
  .sd-installment__body {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
  }
  .sd-installment__text {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .sd-installment__clock {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  
}


.sd-description {
  position: relative;
  padding-top: 70px;
  padding-bottom: 10px;
}
.sd-description__bcg {
  bottom: -50px;
  left: -120px;
}
.sd-description__text {
  color: #fff;
}
.sd-description__text > strong {
  color: #00c2ff;
  font-weight: 300;
}
.sd-advantages {
  padding-top: 70px;
  padding-bottom: 100px;
}
.sd-advantages__list {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 40px;
}
.sd-advantages__ul {
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  width: 50%;
}
.sd-advantages__li {
  position: relative;
  display: flex;
  padding: 0 20px;
  margin-bottom: 2px;
  align-items: center;
  height: 64px;
  border-radius: 4px;
  background: linear-gradient(45deg, #002632 0%, #002632 50%, #193b46 70%, #002632 90%, #002632 100%);
}
.sd-advantages__li > span {
  position: absolute;
  top: -5px;
  left: 10px;
  font-size: 80px;
  line-height: 1em;
  font-weight: 800;
  color: rgba(255,255,255,.1);
}
.sd-advantages__li > p {
  font-weight: 300;
  color: #fff;
}
.sd-advantages__li > p span {
  color: #00c2ff;
}
@media (max-width: 768px) {
  .sd-description__bcg {
    bottom: -100px;
    left: -40px;
  }
}


.sd-advantages__block {
  display: flex;
  align-items: center;
}
.sd-advantages__block__img {
  position: relative;
  width: 30%;
}
.sd-advantages__block__text {
  position: relative;
  width: calc(70% + 60px);
  z-index: 1;
}
.sd-advantages__block__text > div {
  position: relative;
  padding: 24px 20px;
  color: #fff;
  background: linear-gradient(45deg, #002632 0%, #002632 50%, #193b46 70%, #002632 90%, #002632 100%);
  border-radius: 4px;
  box-shadow: 7px 7px 20px 0 rgba(28,28,28,.1);
}
.sd-block--left .sd-advantages__block__text {
  margin-left: -60px;
}
.sd-block--right .sd-advantages__block__text {
  margin-right: -60px;
}
.sd-advantages__block__text span {
  color: #00c2ff;
}
.sd-advantages__block__img::after {
  content: '';
  position: absolute;
  top: calc(50% - 145px);
  left: calc(50% - 145px);
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background-color: #e8faff;
  z-index: -1;
}
.sd-advantages__block__img img {
  position: relative;
}
@media (max-width: 992px) {
  .sd-advantages__li {
    height: 75px;
  }
  .sd-advantages__block {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .sd-advantages {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .sd-advantages__list {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
  }
  .sd-advantages__ul {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .sd-advantages__li {
    height: 64px;
  }
  .sd-advantages__block__img {
    width: 20%;
  }
  .sd-advantages__block__img::after {
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    width: 180px;
    height: 180px;
  }
  .sd-advantages__block__text {
    width: calc(80% + 30px);
  }
  .sd-block--left .sd-advantages__block__text {
    margin-left: -30px;
  }
  .sd-block--right .sd-advantages__block__text {
    margin-right: -30px;
  }
}
@media (max-width: 576px) {
  .sd-advantages__block__img img {
    width: 140px;
  }
  .sd-block--left img {
    margin-left: -20px;
  }
  .sd-block--right img {
    margin-right: -20px;
  }
}
@media (max-width: 418px) {
  .sd-advantages__li {
    padding: 0 10px;
  }
  .sd-block--left {
    flex-direction: column;
  }
  .sd-block--right {
    flex-direction: column-reverse;
  }
  .sd-advantages__block__img,
  .sd-advantages__block__text {
    width: 100%;
  }
  .sd-advantages__block__img img {
    margin-left: auto;
    margin-right: auto;
  }
  .sd-block--left .sd-advantages__block__text {
    margin-left: 0;
  }
  .sd-block--right .sd-advantages__block__text {
    margin-right: 0;
  }
}


.sd-sequence {
  padding-top: 70px;
  padding-bottom: 70px;
}
.sd-sequence__body {
  position: relative;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  /* align-items: flex-end; */
  justify-content: space-between;
  flex-wrap: wrap;
}
/* .sd-sequence__body::after {
  content: '';
  position: absolute;
  top: 80px;
  bottom: 80px;
  right: calc(25% - 24px);
  width: 50%;
  border-left: 5px dashed #e8faff;
  z-index: -1;
} */
/* .sd-sequence__col-1 {
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}
.sd-sequence__col-2 {
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
} */
.registration__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 20px 24px 50px;
  margin-left: 54px;
  margin-bottom: 40px;
  min-height: 122px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 7px 7px 20px 0 rgba(28,28,28,.1)
}
.registration__block__num {
  position: absolute;
  top: 8px;
  left: -48px;
  font-size: 140px;
  line-height: 1.0em;
  font-weight: 800;
  color: #00c2ff;
  text-shadow: 4px 4px 10px rgba(28,28,28,.1);
}

.sd-sequence__body .registration__block {
  width: calc(50% - 160px);
}
.sd-sequence__img {
  position: absolute;
  bottom: -120px;
  right: -20%;
  width: 100%;
  z-index: -1;
}
@media (max-width: 992px) {
  .sd-sequence__body .registration__block {
    width: calc(50% - 130px);
  }
}
@media (max-width: 768px) {
  .sd-sequence {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .registration__block__num {
    left: -35px;
    font-size: 110px;
  }
  .sd-sequence__body {
    margin-left: 0;
    margin-right: 0;
  }
  .registration__block {
    padding-left: 40px;
    margin-left: 30px;
    margin-bottom: 30px;
    min-height: 80px;
  }
  .sd-sequence__body .registration__block {
    width: calc(50% - 110px);
  }
  .sd-sequence__img {
    bottom: -80px;
    width: 720px;
  }
}
@media (max-width: 576px) {
  .sd-sequence__body .registration__block {
    width: 100%;
  }
  .sd-sequence__img {
    width: 480px;
  }
}
@media (max-width: 418px) {
  .sd-sequence .caption__section {
    font-size: 21px;
  }
  .registration__block__num {
    left: -25px;
    font-size: 70px;
  }
  .registration__block {
    padding-left: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    min-height: 40px;
  }
}


.sd-generation {
  padding-top: 70px;
  padding-bottom: 70px;
}
.sd-generation__body {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  flex-wrap: wrap;
  align-items: stretch;
}
.sd-generation__block {
  padding: 0 20px;
  margin-bottom: 40px;
  width: calc(50% - 40px);
}
.sd-generation__block > div {
  padding: 30px 20px;
  height: calc(100% - 60px);
  background: linear-gradient(45deg, #002632 0%, #002632 50%, #193b46 70%, #002632 90%, #002632 100%);  
  border-radius: 4px;
  box-shadow: 7px 7px 20px 0 rgba(28,28,28,.1);
}

.sd-generation__block__caption {
  margin-bottom: 20px;
  color: #00c2ff;
  text-transform: uppercase;
}
.sd-generation__block__caption > h3 {
  margin-top: -50px;
  font-size: 27px;
  line-height: 1em;
  font-weight: 500;
  color: #00c2ff;
}
.sd-generation__block__caption > h3 span {
  font-size: 72px;
  line-height: 1.0em;
  font-weight: 800;
}
.sd-generation__block__caption > p {
  padding-left: 50px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 500;
}
.sd-generation__block__body {
  color: rgba(255,255,255,.6);
}
.sd-generation__block__pos {
  margin-bottom: 10px;
}
.sd-generation__block__body h4 {
  margin-bottom: 4px;
  color: #fff;
}
.sd-generation__list {
  list-style: none;
}
.sd-generation__list > li {
  position: relative;
  padding-left: 24px;
}
.sd-generation__list > li::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 6px;
  width: 12px;
  height: 1px;
  background-color: rgba(255,255,255,.6);
}
@media (max-width: 992px) {
  .sd-generation__block__caption > h3 {
    font-size: 21px;
  }
  .sd-generation__block__caption > p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .sd-generation {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sd-generation__block__caption > h3 {
    margin-top: -45px;
    font-size: 18px;
  }
  .sd-generation__block__caption > h3 span {
    font-size: 52px;
  }
  .sd-generation__block__caption > p {
    padding-left: 36px;
  }
  .sd-generation__body {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    align-items: center;
  }
  .sd-generation__block {
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    max-width: 480px;
  }
}
@media (max-width: 418px) {
  .sd-generation__block__caption > p {
    padding-left: 0;
  }
}


.sd-job {
  padding-top: 70px;
  padding-bottom: 70px;
}
.sd-job__body {
  display: flex;
  margin-left: -4px;
  margin-right: -4px;
}
.sd-job__col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 4px;
  margin-right: 2px;
  width: 66.66%;
}
.sd-job__img {
  position: relative;
  margin-bottom: 4px;
  overflow: hidden;
}
.sd-job__img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  max-width: 300px;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
.sd-job__col-1 > .sd-job__img {
  width: calc(50% - 2px);
  height: 50%;
}
.sd-job__col-2 {
  padding-left: 2px;
  margin-right: 4px;
  width: 33.33%;
  height: 400px;
}
.sd-job__col-2 > .sd-job__img {
  width: 100%;
  height: calc(100% + 4px);
}

@media (max-width: 768px) {
  .sd-job {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sd-job__body {
    flex-wrap: wrap;
  }
  .sd-job__col-1 {
    margin-bottom: 8px;
    width: calc(100% - 8px);
    height: 300px;
  }
  .sd-job__col-2 {
    padding-left: 0;
    margin-right: 4px;
    margin-left: 4px;
    width: calc(100% - 4px);
    height: 500px;
  }
  .sd-job__col-2 img {
    top: 30%;
  }
}
@media (max-width: 574px) {
  .sd-job__col-1 {
    margin-bottom: 0;
    height: auto;
  }
  .sd-job__col-1 > .sd-job__img {
    width: 100%;
    height: 220px;
  }
  .sd-job__col-2 {
    height: 220px;
  }
}


.sd-conclusion {
  padding-top: 50px;
  margin-bottom: 50px;
  background-color: #002632;
}
.sd-conclusion__bcg {
  right: -0px;
  top: -100px;
}
.sd-conclusion__caption > .caption__section {
  color: #fff;
  background-color: #002632;
}
.sd-conclusion .container {
  position: relative;
}
.sd-conclusion__body {
  display: flex;
  align-items: flex-end;
}
.sd-conclusion__img {
  width: 30%;
}
.sd-conclusion__img img {
  margin-left: -40%;
  width: 180%;
}
.sd-conclusion__text {
  width: 70%;
}
.sd-conclusion__text > div {
  padding: 50px 50px 80px 50px;
  margin-bottom: 50px;
  color: #002632;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 20px 60px 0 rgba(28,28,28,.07);
}
.sd-conclusion__caption {
  margin-bottom: 30px;
  font-size: 27px;
  line-height: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
}
.sd-conclusion__caption > strong {
  color: #00c2ff;
  font-weight: 500;
}
.sd-conclusion__btn {
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 992px) {
  .sd-conclusion__caption {
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .sd-conclusion__text {
    width: 80%;
  }
  .sd-conclusion__img {
    width: 20%;
  }
  .sd-conclusion__img img {
    margin-left: -100px;
    width: 390px;
  }
  .sd-conclusion__text > div {
    padding: 40px 30px 50px 30px;
  }
  .sd-conclusion__caption {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .sd-conclusion {
    margin-bottom: 20px;
  }
  .sd-conclusion__body {
    flex-wrap: wrap;
  }
  .sd-conclusion__text {
    width: 100%;
  }
  .sd-conclusion__text > div {
    margin-bottom: -40px; 
  }
  .sd-conclusion__img {
    width: 100%;
  }
  .sd-conclusion__img img {
    margin-left: auto;
    margin-right: -70px;
  }
}

.sm-advantages__item {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.sm-advantages__body {
  display: flex;
  align-items: center;
}
.sm-advantages__list {
  width: 70%;
}
.sm-advantages__img {
  position: relative;
  width: 30%;
}
.sm-advantages__img img {
  position: relative;
  margin-left: -10%;
  width: 120%;
}
.sm-advantages__btn {
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 768px) {
  .sm-advantages__img img {
    margin-left: 0;
  }
  .sm-advantages__list .sm-advantages__item {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .sm-advantages__list {
    width: 80%;
  }
  .advantages__bcg--sm {
    right: auto;
    left: -80px;
  }
  .sm-advantages__img {
    width: 20%;
  }
  .sm-advantages__img img {
    position: relative;
    width: 220px;
    z-index: 0;
  }
  .sm-advantages__btn {
    margin-top: 0;
  }
}
@media (max-width: 418px) {
  .sm-advantages__list {
    width: 100%;
  }
  .sm-advantages__img {
    width: 0;
  }
  .sm-advantages__img img {
    display: none;
  }
}


.sm-advantages__list .sm-advantages__item {
  margin-bottom: 50px;
}

.sr-services {
  padding-top: 70px;
  padding-bottom: 70px;
}
.sr-services__body {
  display: flex;
  align-items: center;
}
.sr-services__text {
  width: 70%;
}
.sr-services__text > div {
  padding: 50px;
  color: #002632;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 20px 60px 0 rgba(28,28,28,.07);
}
.sr-services__img {
  width: 30%;
}
.sr-services__img img {
  margin-left: -20%;
}

@media (max-width: 768px) {
  .sr-services__img {
    width: 20%;
  }
  .sr-services__img img {
    margin-left: -30px;
    width: 220px;
  }
  .sr-services__text {
    width: 80%;
  }
  .sr-services__text > div {
    padding: 40px 30px 50px 30px;
  }
}
@media (max-width: 576px) {
  .sr-services__body {
    flex-direction: column-reverse;
  }
  .sr-services__text {
    width: 100%;
  }
  .sr-services__img {
    width: 100%;
  }
  .sr-services__img img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
    width: 150px;
  }
}

.sr-causes {
  padding-top: 70px;
  padding-bottom: 70px;
}
.sr-causes__caption > h2 {
  max-width: 430px;
}
.sr-causes__body {
  display: flex;
  align-items: center;
}
.sr-causes__img {
  width: 30%;
}
.sr-causes__img img {
  margin-right: -10%;
  width: 120%;
}
.sr-causes__text {
  width: 70%;
}
.sr-causes__block {
  margin-bottom: 20px;
  position: relative;
  padding: 24px 20px;
  color: #fff;
  background: linear-gradient(45deg, #002632 0%, #002632 50%, #193b46 70%, #002632 90%, #002632 100%);
  border-radius: 4px;
  box-shadow: 7px 7px 20px 0 rgba(28,28,28,.1);
}
.sr-causes__block .text__p strong {
  color: #00c2ff;
  font-weight: 500;
}

.sm-advantages__img--register img {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.m-advantages__img--variator img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width: 992px) {
  .sm-advantages__img--register img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .sm-advantages__img--register img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .sm-advantages__img--register img {
    margin-left: 0;
    width: 150px;
  }
  .sr-causes__body {
    flex-wrap: wrap;
  }
  .sr-causes__img {
    margin-bottom: 20px;
    width: 100%;
  }
  .sr-causes__img img {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  }
  .sr-causes__text {
    width: 100%;
  }
}


.sr-sequence {
  padding-top: 70px;
  padding-bottom: 70px;
}
.sr-sequence__body {
  position: relative;
}
.sr-sequence__body::after {
  content: '';
  position: absolute;
  top: 80px;
  bottom: 80px;
  right: calc(25% - 24px);
  width: 50%;
  border-left: 5px dashed #e8faff;
  z-index: -1;
}
.sr-sequence__block {
  position: relative;
  width: 70%;
}
.sr-sequence__block__icon {
  position: absolute;
  top: calc(50% - 60px);
  right: -200px;
  margin-right: 40px;
  width: 120px;
  min-width: 120px;
  height: 120px;
}
.sr-sequence__block__icon::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -20px;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-color: #e8faff;
  z-index: -1;
}
.sr-sequence__block .text__p strong {
  font-weight: 500;
  color: #002632;
}
@media (max-width: 1140px) {
  .sr-sequence__block__icon {
      width: 100px;
      min-width: 100px;
      height: 100px;
  }
}
@media (max-width: 1140px) {
  .sr-sequence__block__icon {
    right: -180px;
  }
}
@media (max-width: 576px) {
  .sr-sequence {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .sr-sequence__block__icon {
    display: none;
  }
  .sr-sequence__block {
    width: auto;
  }
}


.sr-question {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sr-question__mask {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}
.sr-question .container {
  position: relative;
  z-index: 1;
}
.sr-question__body {
  display: flex;
  align-items: center;
}
.sr-question__text {
  width: 60%;
}
.sr-question__btn {
  margin-top: 40px;
}
.sr-question__img {
  width: 40%;
}
.sr-question__bcg1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #00c2ff;
}
.sr-question__bcg1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 250px;
  transform-origin: left top;
  transform: rotate(23deg);
  background-color: #00c2ff;
}
.sr-question__bcg2 {
  position: absolute;
  top: 0px;
  right: 22%;
  width: 140px;
  height: 200px;
  transform: rotate(23deg);
  background-color: #002632;
}
.sr-question__bcg2::after {
  content: '';
  position: absolute;
  top: -59px;
  right: 0;
  border-bottom: 30px solid #002632;
  border-right: 70px solid #002632;
  border-top: 30px solid transparent;
  border-left: 70px solid transparent;
}
.sr-question__bcg2::before {
  content: '';
  position: absolute;
  bottom: -59px;
  right: 0;
  border-top: 30px solid #002632;
  border-left: 70px solid #002632;
  border-bottom: 30px solid transparent;
  border-right: 70px solid transparent;
}

.sr-question__bcg3 {
  position: absolute;
  top: 200px;
  right: 10%;
  width: 140px;
  height: 200px;
  transform: rotate(23deg);
  background-color: #002632;
}
.sr-question__bcg3::after {
  content: '';
  position: absolute;
  top: -59px;
  right: 0;
  border-bottom: 30px solid #002632;
  border-right: 70px solid #002632;
  border-top: 30px solid transparent;
  border-left: 70px solid transparent;
}
.sr-question__bcg3::before {
  content: '';
  position: absolute;
  bottom: -59px;
  right: 0;
  border-top: 30px solid #002632;
  border-left: 70px solid #002632;
  border-bottom: 30px solid transparent;
  border-right: 70px solid transparent;
}
@media (max-width: 768px) {
  .sr-question__bcg1 {
    width: 25%;
  }
  .sr-question__bcg2,
  .sr-question__bcg3 {
    width: 90px;
  }
  .sr-question__bcg2 {
    top: -20px;
  }
  .sr-question__bcg3 {
    top: 110px;
  }
  .sr-question__bcg2::before,
  .sr-question__bcg3::before {
    bottom: -35px;
    border-top: 18px solid #002632;
    border-left: 45px solid #002632;
    border-bottom: 18px solid transparent;
    border-right: 45px solid transparent;
  }
  .sr-question__bcg2::after,
  .sr-question__bcg3::after {
    top: -35px;
    border-bottom: 18px solid #002632;
    border-right: 45px solid #002632;
    border-top: 18px solid transparent;
    border-left: 45px solid transparent;
  }
}
@media (max-width: 576px) {
  .sr-question__mask {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .sr-question__text {
    width: 80%;
  }
  .sr-question__img {
    width: 20%;
  }
  .sr-question__img img {
    margin-left: -20px;
    width: 320px;
  }
  .sr-question__bcg1 {
    width: 0;
  }
  .sr-question__bcg2 {
    display: none;
  }
  .sr-question__bcg3 {
    top: 130px;
    right: -10%;
  }
}
@media (max-width: 418px) {
  .sr-question__text {
    width: 100%;
  }
  .sr-question__img,
  .sr-question__bcg1,
  .sr-question__bcg2,
  .sr-question__bcg3 {
    display: none;
  }
}

.services__text--sv strong {
  color: #00c2ff;
  font-weight: 500;
}

.sv-comparison {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 768px) {
  .sv-comparison {
    padding-top: 40px;
    padding-bottom: 40px;
  } 
}

.sv-conclusion {
  padding-top: 70px;
  padding-bottom: 70px;
}
.sv-conclusion__btn {
  margin-top: 50px;
  text-align: center;
}
.sv-conclusion__btn .btn-1 {
  color: #00c2ff;
}
.sv-conclusion__block > div {
  padding: 50px 50px 80px 50px;
}
.conclusion__img--sv img {
  margin-left: -10%;
  width: 120%;
}
.conclusion__body--sv {
  align-items: center;
}
.sv-description__bcg {
  bottom: -140px;
  left: -120px;
}
@media (max-width: 768px) {
  .sv-conclusion__block > div {
    padding: 40px 30px 50px 30px;
  }
}
@media (max-width: 576px) {
  .conclusion__img--sv {
    display: none;
  }
}

/* Таймер */
.timer {
  display: flex;
  margin-left: -4px;
  margin-right: -4px;
  justify-content: center;
}
.timer.hidden {
  display: none;
}
.timer__number {
  display: flex;
  padding: 20px 5px;
  margin-left: 4px;
  margin-right: 4px;
  flex-direction: column;
  color: #fff;
  width: 25%;
  text-align: center;
  border-radius: 4px;
  background-color: #002632;
  box-shadow: 7px 7px 20px 0 rgba(28,28,28,.1);
}
.timer__time {
  margin-bottom: -8px;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  white-space: nowrap;
}
.timer__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: rgba(255,255,255,.7);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .sd-installment__clock {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
}
@media (max-width: 574px) {
  .timer__time {
    font-size: 32px;
    line-height: 1.2;
  }
  .timer__text {
    font-size: 16px;
    line-height: 1.2;
  }
}



.p-header {
  position: relative;
  overflow: hidden;
}
.p-header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 70%;
	background: url('../img/propan/header.jpg') no-repeat center;
	background-size: cover;
}
.p-header::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30%;
	background: #00c2ff;
}
.p-header > .container {
	position: relative;
	z-index: 1;
}
.p-header__bcg {
	position: absolute;
	right: 0;
	top: 40%;
	width: 800px;
	height: 800px;
	background: #00c2ff;
	transform: rotate(45deg) translateY(-50%);
}
.p-header__bcg:before {
	content: '';
	position: absolute;
	top: -100px;
	left: -100px;
	right: -100px;
    bottom: -100px;
	background: rgba(0, 194, 255, .4);
}
.p-header__content {
	position: relative;
	padding-top: 60px;
	padding-bottom: 120px;
	text-align: right;
}
.p-caption-h1 {
	margin: 0;
  font-size: 100px;
  line-height: 1.1em;
	font-weight: 600;
	color: #fff;
}
.p-caption-h2 {
	margin: 0;
  font-size: 42px;
  line-height: 1.2em;
	font-weight: 400;
	color: #fff;
}
.p-caption-p {
	margin-top: 50px;
	font-size: 23px;
	font-weight: 400;
	color: #fff;
}
.p-header__btns {
  margin-top: 60px;
}

.p-install {
	padding-top: 70px;
	padding-bottom: 70px;
}
.p-install__content {
	display: flex;
	align-items: center;
}
.p-install__text {
	margin-right: 2%;
	width: 49%;
}
.p-install__img {
	position: relative;
	width: calc(49% - 100px);
}
.p-install__img::after {
	content: '';
	position: absolute;
	left: 60px;
	bottom: 60px;
	top: -20px;
	right: -20px;
	background: #ff0000;
	z-index: -1;
}

.p-advantages {
	padding-top: 60px;
	padding-bottom: 40px;
	overflow: hidden;
}
.p-advantages__item:first-child {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #b3eeff;
}
.p-advantages__item {
  margin-left: 10%;
  width: 60%;
}
.p-advantages__item .caption__h2 {
  margin-bottom: 45px;
}
.p-advantages__block {
	position: relative;
	padding: 20px 20px 20px 120px;
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 70px;
  width: calc(100% - 250px);
  min-height: 140px;
  color: #002632;
	background: linear-gradient(135deg, #b3eeff, #beebff);
}
.p-advantages__block::after {
	content: '';
	position: absolute;
	bottom: -10px;
	right: -20px;
	width: 60px;
	height: 20px;
	background: url('../img/propan/liner-list.png') no-repeat center;
	background-size: 100%;
}
.p-advantages__block:last-child {
  margin-bottom: 0;
}
.p-advantages__icon {
	position: absolute;
	top: -20px;
	left: -60px;
	width: 142px;
	height: 142px;
	border: 4px solid #00c2ff;
  background-color: #fff;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.p-install__btn {
  margin-top: 40px;
}

.btn-3 {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  background: red;
  border-radius: 30px;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 14px;
}


@media (max-width: 992px) {
  .p-advantages__item {
    width: 80%;
  }
  .p-install__content {
    flex-direction: column;
    align-items: center;
  }
  .p-install__text {
    margin-right: 20%;
    width: auto;
  }
  .p-install__img {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 420px;
  }
  .p-install__btn {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .p-caption-h1 {
    font-size: 72px;
  }
  .p-caption-h2 {
    margin-top: 7px;
    font-size: 32px;
  }
  .p-header__bcg {
    width: 650px;
    height: 650px;
  }
  .p-advantages__item {
    margin-left: 0;
    width: 100%;
  }
  .p-advantages__icon {
    width: 120px;
    height: 120px;
  }
  .p-advantages__block {
    width: calc(100% - 220px);
  }
  .p-install__text {
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .p-caption-h1 {
    font-size: 42px;
  }
  .p-caption-h2 {
    font-size: 27px;
  }
  .p-header__bcg {
    right: 70px;
    top: 34%;
    width: 400px;
    height: 400px;
  }
  .p-advantages__block {
    padding-top: 50px;
    padding-left: 20px;
    margin-top: 80px;
    margin-left: 0;
    width: auto;
  }
  .p-advantages__icon {
    top: -60px;
    left: 30px;
    width: 100px;
    height: 100px;
  }
}

