@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Heavy.eot');
  src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Heavy.woff') format('woff'), url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: local('Futura PT Medium'), local('FuturaPT-Medium'),
      url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaPT-Medium.woff') format('woff'),
      url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Light.eot');
  src: local('Futura PT Light'), local('FuturaPT-Light'),
      url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaPT-Light.woff') format('woff'),
      url('../fonts/FuturaPT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Bold.eot');
  src: local('Futura PT Bold'), local('FuturaPT-Bold'),
      url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaPT-Bold.woff') format('woff'),
      url('../fonts/FuturaPT-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-ExtraBold.eot');
  src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
      url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
      url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

*, :after, :before {
  box-sizing: content-box;
}
body {
	margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2em;
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  color: #00c2ff;
  background: #fff;
}
.body {
  overflow: hidden;
}

@media (max-width: 1140px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 418px) {
  body {
    font-size: 16px;
    line-height: 20px;
  }
}

p, h1, h2,h3, ul {
	padding: 0;
	margin: 0;
}
a {
  text-decoration: none;
  color: #00c2ff;
}
img {
  display: block;
  width: 100%;
}
.container {
  position: relative;
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto;
}


.btn-1 {
  text-decoration: none;
  display: inline-block;
  padding: 16px 50px;
  font-family: 'Futura PT', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  min-width: 208px;
  text-align: center;
  background-color: rgba(218, 0, 45, .4);
  color: #002632;
  border: 1px solid #da002d;
  border-radius: 4px;  
  box-shadow: 0 10px 30px 0 rgba(218, 0, 45, .4);
  transition: all .3s ease;
  cursor: pointer;
}
.btn-1:hover {
  color: #002632;
  box-shadow: 0 10px 30px 0 rgba(218, 0, 45, 0);
}
.btn-1:active, .btn-1:focus {
  color: #002632;
  box-shadow: 0 10px 30px 0 rgba(218, 0, 45, 0);
  outline: none;
}

.btn-1:disabled {
  position: relative;
  color: transparent;
}
.btn-1:disabled:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(255,255,255,.5);
  background-image: url(../img/805-red.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.btn--blue {
  border-color: #00c2ff;
  background-color: rgba(0, 194, 255, .4);
  box-shadow: 0 10px 30px 0 rgba(0, 194, 255, .4);
}
.btn-2:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 194, 255, 0);
}
.btn--blue:active, 
.btn--blue:focus {
  box-shadow: 0 10px 30px 0 rgba(0, 194, 255, 0);
  outline: none;
}
.btn--blue:disabled:after {
  background-image: url(../img/805.gif);
}
.btn--white {
  color: #fff;
  background-color: rgba(255, 255, 255, .4);
  border-color: #fff;
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, .4);
}
.btn--white-border {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, .4);
}
.btn--white:hover,
.btn--white-border:hover {
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0);
}
.btn--white:active,
.btn--white:focus,
.btn--white-border:active,
.btn--white-border:focus {
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0);
  outline: none;
}
.btn--white:disabled:after,
.btn--white-border:disabled:after {
  background-image: url(../img/805-white.gif);
}
.btn--black {
  color: #fff;
  border-color: #1c1c1c;
  background-color: rgba(28, 28, 28, .4);
  box-shadow: 0 10px 30px 0 rgba(28, 28, 28, .4);
}
.btn--black:disabled:after {
  background-image: url(../img/805-white.gif);
}

@media (max-width: 1140px) {
  .btn-1 {
    padding: 12px 36px;
    font-size: 22px;
    min-width: 186px;
  }
}
@media (max-width: 576px) {
  .btn-1 {
    padding: 12px 30px;
    font-size: 20px;
    line-height: 26px;
    min-width: 158px;      
  }
}
@media (max-width: 418px) {
  .btn-1 {
    padding-left: 18px;
    padding-right: 18px;
  }
}


.main {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
}
.main__bcg-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 1223px;
  height: 461px;
  background: url(../img/main-bcg-1.jpg) no-repeat right top;
  background-size: 100%;
  z-index: 0;
}
.main__bcg-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 559px;
  height: 292px;
  background: url(../img/main-bcg-2.png) no-repeat left bottom;
  background-size: 100%;
  z-index: 0;
}
@media (max-width: 1140px) {
  .main__bcg-1 {
    width: 80%; 
    background: url(../img/main-bcg-1-p.jpg) no-repeat right top;
    background-size: 100%;
  }
  .main__bcg-2 {
    width: 50%; 
    background: url(../img/main-bcg-2-p.png) no-repeat left bottom;
    background-size: 100%;
  }
}

@media (max-width: 576px) {
  .main__bcg-1 {
    background: url(../img/main-bcg-1-m.jpg) no-repeat right top;
    background-size: 100%;
  }
  .main__bcg-2 {
    background: url(../img/main-bcg-2-m.png) no-repeat left bottom;
    background-size: 100%;
  }
}

.main .container {
  padding-bottom: 30px;
}
.header {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo {
  display: flex;
  align-items: flex-end;
  margin-bottom: 18px;
}
.header__logo__link {
  display: block;
  width: 200px;
}
.header__logo > p {
  margin-left: 16px;
  font-size: 16px;
  line-height: 16px;
}
.header__logo > p > span {
  display: block;
}
.header__select {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
  line-height: 1.2em;
  white-space: nowrap;
}
.header__select > .ant-select {
  margin-right: 14px;
}
.header__right {
  text-align: right;
}
.header__phone {
  font-size: 24px;
  line-height: 1.2em;
  transition: color .3s ease;
}
.header__phone:hover {
  color: #da002d;
}
.header__phone > strong {
  font-weight: 600;
}
.header__clock {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.2em;
}
.header__nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 32px;
}

@media (max-width: 1140px) {
  .header {
    padding-top: 20px;
  }
  .header__logo__link {
    width: 160px;
  }
}
@media (max-width: 992px) {
  .header__logo {
    margin-bottom: 10px;
  }
  .header__logo__link {
    width: 140px;
  }
  .header__phone {
    font-size: 20px;
  }
  .header__clock {
    margin-top: 7px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }
  .header__logo {
    margin-bottom: 16px;
    width: 100%;
  }
  .header__logo__link {
    width: 120px;
  }
  .header__logo > p {
    margin-left: 12px;
    font-size: 14px;
    line-height: 14px;
  }
  .header__select {
    font-size: 18px;
  }
  .header__right {
    display: flex;
    margin-top: 6px;
    align-items: flex-end;
    text-align: left;
  }
  .header__phone {
    font-size: 18px;
  }
  .header__clock {
    margin-top: 0;
    margin-left: 12px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .header__select {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }
  .nav__icon {
    width: 26px;
    height: 26px;
  }
  .header__select > span {
    display: block;
    margin-top: 7px;
  }
  .header__select > .ant-select {
    margin-bottom: 7px;
  }
}
@media (max-width: 418px) {
  .header__logo__link {
    width: 90px;
  }
  .header__logo > p {
    margin-left: 8px;
    font-size: 12px;
    line-height: 12px;
  }
  .header__select > span{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  .header__clock {
    font-size: 14px;
  }
}


.main__nav {
  position: relative;
}
.main__nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: -2000px;
  height: 100%;
  width: 2000px;
  background-color: #002632;
}
.main__nav > ul {
  display: flex;
  list-style: none;
}
.main__nav a {
  position: relative;
  display: flex;
  padding: 17px 22px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  background-color: #002632;
  text-transform: uppercase;
  transition: all .3s ease;
}
.main__nav a span {
  position: relative;
  z-index: 2;
}
.main__nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -20px;
  border-top: 0 solid transparent;
  border-left: 36px solid transparent;
  border-right: 4px solid #002632;
  border-bottom: 58px solid #002632;
  transition: all .3s ease;
  z-index: 1;
} 
.main__nav a::before {
  content: '';
  position: absolute;
  top: 0;
  right: -16px;
  border-top: 58px solid #002632;
  border-left: 4px solid #002632;
  border-right: 36px solid transparent;
  border-bottom: 0 solid transparent;
  transition: all .3s ease;
  z-index: 1;
}
.main__nav li:nth-child(2) a {
  padding-left: 0;
}
.main__nav li:nth-child(2) a:after {
  left: -36px;
}
.main__nav li:last-child a {
  padding-right: 0;
}
.main__nav li:last-child a:before {
  right: -36px;
}
.main__nav a.active,
.main__nav a:hover {
  color: #002632;
  background-color: #00c2ff;
}
.main__nav a.active:after,
.main__nav a:hover:after {
  border-bottom-color: #00c2ff;
  border-right-color: #00c2ff;
}
.main__nav a.active:before,
.main__nav a:hover:before {
  border-top-color: #00c2ff;
  border-left-color: #00c2ff;
}
.main__nav a.nav--red {
  background-color: #da002d;
}
.main__nav a.nav--red::after {
  border-bottom-color: #da002d;
  border-right-color: #da002d;
}
.main__nav a.nav--red::before {
  border-top-color: #da002d;
  border-left-color: #da002d;
} 
.main__nav a.nav--red:hover {
  background-color: #00c2ff;
}
.main__nav a.nav--red:hover:after {
  border-bottom-color: #00c2ff;
  border-right-color: #00c2ff;
}
.main__nav a.nav--red:hover:before {
  border-top-color: #00c2ff;
  border-left-color: #00c2ff;
}
.nav__social {
  display: flex;
  flex-direction: column;
}
.nav__icon {
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  font-size: 0;
  color: transparent;
}
.nav__icon > svg {
  fill: #002632;
  width: 100%;
  height: 100%;
  transition: all .3s ease;
}
.nav__icon:hover > svg {
  fill: #00c2ff;
}
.main__nav__notlink {
  display: none;
}

@media (max-width: 1140px) {
  .main__nav a {
    padding: 10px 16px;
    font-size: 16px;
  }
  .main__nav a::after {
    left: -15px;
    border-top: 22px solid transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid #002632;
    border-bottom: 22px solid #002632;
  }
  .main__nav a::before {
    right: -18px;
    border-top: 22px solid #002632;
    border-left: 16px solid #002632;
    border-right: 16px solid transparent;
    border-bottom: 22px solid transparent;
  }
  .main__nav li:last-child a:before {
    right: -31px;
  }
  .main__nav li:nth-child(2) a:after {
    left: -31px;
  }
  .main__nav::after {
    left: -20px;
    width: 20px;
  }
}
@media (max-width: 992px) {
  .main__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(2000px);
    transition: all .6s ease;
    z-index: 22;
  }
  .main__nav::after {
    display: none;
  }
  .main__nav.active {
    transform: translateX(0);
    animation: bcgmenu .6s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
  }
  @keyframes bcgmenu {
    0% {
      background-color: rgba(28,28,28,0);
    }
    100% {
      background-color: rgba(28,28,28,.7);
    }
  }
  .main__nav > ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;
    padding-bottom: 40px;
    flex-direction: column;
    background-color: #002632;
    width: 320px;
    box-shadow: -7px 0 40px 0 rgba(28,28,28,.7);
    overflow: auto;
  }
  .main__nav > ul::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 140px;
    height: 46px;
    background: url(../img/logo-white.png) no-repeat center;
    background-size: 100%;  
  }
  .main__nav a::before,
  .main__nav a::after {
    display: none;
  }
  .main__nav li:nth-child(2) a {
    padding-left: 20px;
  }
  .main__nav a{
    padding: 10px 20px;
  }
  .main__nav__notlink {
    display: block;
  }
  .main__nav__close {
    position: absolute;
    top: 40px;
    right: 20px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
  }
  .main__nav__close > span {
    position: absolute;
    top: 14px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .main__nav__close span:nth-child(1) {
    transform: rotate(45deg);
  }
  .main__nav__close span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .header__nav {
    padding-top: 22px;
  }
  .nav__social {
    flex-direction: row;
  }
  .nav__icon {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .header__nav {
    padding-top: 12px;
  }
  .nav__icon {
    margin-right: 16px;
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 419px) {
  .main__nav > ul {
    width: 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background: rgba(0, 0, 0, .6);
  z-index: 25;
  display: none;
  transition: all .3s ease;
  overflow: auto;
}
.modal__call .modal__content {
  width: 450px;
}
.modal.active {
	display: block;
}
.modal.active > div {
  padding: 22px 50px 90px 50px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, .4);
  animation: modalopen .3s ease;
  animation-fill-mode: forwards;
}
@keyframes modalopen {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal__caption {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 30px;
  margin: 0;
  font-size: 36px;
  line-height: 1.1em;
  font-weight: 600;
}
.modal__header {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.modal__close {
  position: relative;
  margin-right: -15px;
  padding: 15px;
  margin-left: 40px;
  width: 56px;
  min-width: 56px;
  height: 56px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.modal__close::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal__close:hover {
  animation: closebtn .5s;
}
@keyframes closebtn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal__close > span {
  position: absolute;
  top: 26px;
  left: 14px;
  display: inline-block;
  height: 4px;
  width: 30px;
  background-color: #1c1c1c;
}
.modal__close span:nth-child(1) {
  transform: rotate(45deg);
}
.modal__close span:nth-child(2) {
  transform: rotate(-45deg);
}
.modal__form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.modal__p {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.2em;
  color: #002632;
}
.modal__btn {
  padding-top: 40px;
}
.modal__btn > button {
  box-sizing: border-box;
  width: 100%;
}
.ant-modal-header {
  background-color: #e8faff;
}
.ant-modal-title {
  font-size: 24px; 
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}
.ant-modal-body {
  padding-bottom: 50px;
}

@media (max-width: 576px) {
  .modal {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal__content {
    width: auto;
  }
  .ant-modal-title {
    font-size: 21px;
  }
  .modal__p {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
  }
  .modal__form {
    width: auto;
  }
  .modal__caption {
    font-size: 22px;
  }
  .modal.active > div {
    padding: 22px 20px 50px 20px;
  }
  .modal__close {
    margin-left: 0px;
    margin-right: -10px;
    width: 50px;
    min-width: 50px;
    height: 50px;
  }
  .modal__close > span {
    top: 23px;
    left: 10px;
  }
}

.btn-menu {
  display: none;
}

@media (max-width: 992px) {
  .btn-menu {
    display: flex;
    position: fixed;
    top: 115px;
    right: 0;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(28,28,28,.7);
    border: none;
    box-shadow: 4px 7px 10px 0 rgba(0,0,0,.1);
    z-index: 21;
    transition: all .6s ease;
    cursor: pointer;
  }
  .btn-menu span {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    width: 20px;
    height: 2px;
    background: #fff;
    transition: all .3s ease;
  }
  .btn-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
  }
  .btn-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .btn-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
  }
  .btn-menu:active,
  .btn-menu:focus {
    outline: none;
    transition: all.3s ease;
  }
  .btn-menu:hover {
    box-shadow: 4px 7px 10px 0 rgba(0,0,0,.2);
  }
}


.text__ul {
  list-style: none;
}
.text__ul > li {
  position: relative;
  padding-left: 24px;
}
.text__ul > li::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 6px;
  width: 12px;
  height: 1px;
  background-color: #00c2ff;
}


.form__input {
  position: relative;
  display: block;
  margin-bottom: 35px;
}
.form__input span {
	position: absolute;
	bottom: 20px;
	left: 28px;
	font-size: 20px;
  line-height: 24px;
	font-family: 'Futura PT', sans-serif;
  color: #002632;
  transition: all .3s ease;
}
.form__input > input {
	padding: 19px 28px;
	font-size: 20px;
  line-height: 24px;
	font-family: 'Futura PT', sans-serif;
	color: #00c2ff;
	background-color: rgba(255,255,255,.8);
  border: 1px solid #193b46;
  border-radius: 4px;
  width: calc(100% - 58px);
  transition: all .3s ease;
}
.form__input > input:focus, 
.form__input > input:valid {
	outline: 0;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 rgba(0,194,255,.3);
}
.form__input > input:focus ~ span, 
.form__input > input:valid ~ span {
  left: 10px;
	bottom: 68px;
	color: #00c2ff;
}
input::placeholder {
	font-size: 20px;
  line-height: 24px;
	font-family: 'Futura PT', sans-serif;
	color: #002632;
}

.license {
  display: flex;
  margin-top: -20px;
  align-items: center;
  cursor: pointer;
}
.license > input {
  display: none;
}
.license > p {
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.15em;
  font-weight: 300;
  color: #002632;
}
.input__check.license > span {
  border-color: #002632;
}
.input__check.license > span::after {
  background-color: #002632;
}
.license input:checked~span::after{
  opacity: 1;
}
.input__check > input {
  display: none;
}
.input__check > span {
  position: relative;
  display: block;
  width: 22px;
  min-width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid #00c2ff;
}
.input__check > span::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #00c2ff;
  transform: scale(0);
  opacity: 0;
  transition: all .3s ease;
}
.input__check > input:checked~span::after {
  transform: scale(1);
  opacity: 1;
}

@media (max-width: 1140px) {
  .license > p {
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .form__input {
    margin-bottom: 30px; 
  }
  .form__input > input {
    padding: 14px 16px;
    font-size: 18px;
    line-height: 22px;
    width: calc(100% - 34px);
  }
  .form__input span {
    bottom: 14px;
    left: 16px;
    font-size: 18px;
    line-height: 22px;
  }
  .form__input > input:focus ~ span, 
  .form__input > input:valid ~ span {
    left: 14px;
    bottom: 54px;
    font-size: 14px;
  }
  .license > p {
    font-size: 13px;
    line-height: 1.10em;
  }
}
@media (max-width: 418px) {
  .modal__btn > button {
    margin-top: 30px;
    min-width: 200px;
  }
}


.footer {
  padding-top: 45px;
  padding-bottom: 38px;
  color: #fff;
  background-color: #002632;
}
.footer__body {
  display: flex;
  margin-bottom: 30px;
}
.footer__col {
  width: 50%;
}
.footer__logo {
  display: flex;
  margin-bottom: 46px;
  align-items: flex-end;
}
.footer__logo__link {
  display: block;
  width: 180px;
}
.footer__logo > p {
  margin-left: 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  max-width: 200px;
}
.footer__contact {
  font-weight: 300;
}
.footer__contact__phone {
  color: #fff;
  font-size: 24px;
  line-height: 1.2em;
  transition: color .3s ease;
}
.footer__contact__phone > strong {
  font-weight: 500;
}
.footer__contact__phone:hover {
  color: #00c2ff;
}
.footer__contact__address {
  margin-top: 8px;
  font-size: 20px;
  line-height: 1.2em;
}
.footer__contact__address > p {
  display: block;
  margin-left: 16px;
}


.footer__copy {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 300;
  text-align: center;
}
.footer__pay {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__pay__type {
  display: block;
  margin-right: 20px;
  width: 142px;
}
.footer__pay > button {
  padding: 7px 25px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  min-width: auto;
}
.footer__social {
  display: flex;
  justify-content: flex-end;
}
.footer__icon {
  display: block;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  font-size: 0;
  color: transparent;
  background-color: transparent;
}
.footer__icon > svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  transition: all .3s ease;
}
.footer__icon:hover > svg {
  fill: #00c2ff;
}
.foter__space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .footer__logo__link {
    width: 120px;
  }
  .footer__logo > p {
    font-size: 14px;
  }
  .footer__contact__phone {
    font-size: 20px;
  }
  .footer__contact__address {
    font-size: 18px;
  }
  .footer__pay__type {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .footer__pay {
    flex-direction: column;
    align-items: flex-end;
  }
  .footer__pay__type {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .footer__body {
    flex-wrap: wrap;
  }
  .footer__col {
    width: 100%;
  }
  .footer__logo {
    margin-bottom: 24px;
  }
  .footer__contact__phone {
    font-size: 18px;
  }
  .footer__contact__address {
    font-size: 16px;
  }
  .foter__space {
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
  }
  .footer__pay {
    align-items: flex-start;
  }
  .footer__icon {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 418px) {
  .footer__logo > p {
    margin-left: 10px;
  }
}

.ant-select-single:not(.ant-select-customize-input) 
.ant-select-selector {
  width: auto;
}

.placemark__layout {
  position: relative;
  padding: 0 6px;
  border: 3px solid #00c2ff;
  border-radius: 12px;
  width: 140px;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(28,28,28,.4);
}
.placemark__layout > p {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.placemark__layout::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid #00c2ff;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.link__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 2;
}

.caption__h2 {
  margin-bottom: 14px;
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
}
.caption__h2 > strong {
  color: #00c2ff;
  font-weight: 500;
}

@media (max-width: 1140px) {
  .caption__h2 {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .caption__h2 {
    margin-bottom: 7px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .caption__h2 {
    font-size: 18px;
  }
}

.text__p {
  margin-bottom: 10px;
  text-indent: 40px;
  line-height: 1.4em;
}
.text__p2 {
  position: relative;
  margin-bottom: 32px;
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 300;
}
@media (max-width: 992px) {
  .text__p2 {
    margin-bottom: 24px;
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .text__p2 {
    margin-bottom: 18px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .text__p {
    margin-bottom: 10px;
    text-indent: 20px;
  }
}
.text__a {
  text-decoration: underline;
  transition: color .3s ease;
}
.text__a:hover {
  color: #002632;
}
.text__ul2 {
  list-style: none;
}
.text__ul2 > li {
  position: relative;
  padding-left: 20px;
}
.text__ul2 > li::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #00c2ff;
}

.bcg--1 {
  position: absolute;
  width: 492px;
  height: 331px;
  background: url(../img/bcg-1.jpg) no-repeat center;
  background-size: 100%;
  z-index: -1;
}
.bcg--2 {
  position: absolute;
  width: 492px;
  height: 331px;
  background: url(../img/bcg-2.jpg) no-repeat center;
  background-size: 100%;
  z-index: -1;
}
@media (max-width: 992px) {
  .bcg--1 {
    width: 320px;
    height: 220px;
    background: url(../img/bcg-1-m.jpg) no-repeat center;
    background-size: 100%;
  }
  .bcg--2 {
    width: 320px;
    height: 220px;
    background: url(../img/bcg-2-m.jpg) no-repeat center;
    background-size: 100%;
  }
}
@media (max-width: 576px) {
  .bcg--1,
  .bcg--2 {
    width: 180px;
    height: 130px;
  }
}

.caption__container {
  position: relative;
  display: flex;
  padding-left: 35px;
  margin-bottom: 40px;
  align-items: center;
  height: 162px;
}
.caption__container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border: 6px solid #00c2ff;
}
.caption__section {
  position: relative;
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  position: relative;
  font-size: 46px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #002632;
  background-color: #fff;
  z-index: 1;
}
.caption__section strong {
  display: block;
  color: #00c2ff;
  font-weight: 600;
}

@media (max-width: 992px) {
  .caption__section {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .caption__container {
    padding-left: 0px;
    height: 110px;
  }
  .caption__container::after {
    left: -20px;
    width: 100px;
    height: 100px;
  }
  .caption__section {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .caption__container {
    margin-bottom: 30px;
    height: 91px;
  }
  .caption__section {
    font-size: 27px;
  }
  .caption__container::after {
    width: 80px;
    height: 80px;
  }
}

.caption2__container {
  padding-bottom: 30px;
}
.caption2__caption {
  font-size: 27px;
  line-height: .9em;
  font-weight: 500;
  text-transform: uppercase;
}
.caption2__caption > strong {
  display: block;
  font-size: 42px;
  line-height: 1em;
  font-weight: 800;
}
@media (max-width: 768px) {
  .caption2__caption {
    font-size: 24px;
  }
  .caption2__caption > strong {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .caption2__caption {
    font-size: 21px;
  }
  .caption2__caption > strong {
    font-size: 24px;
  }
}


.advantages__item__img {
  position: relative;
  margin-right: 40px;
  width: 120px;
  min-width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.advantages__item__img::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -20px;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-color: #e8faff;
  z-index: -1;
}
.advantages__item__text {
  max-width: 480px;
}

@media (max-width: 1140px) {
  .advantages__item__img {
    width: 100px;
    min-width: 100px;
    height: 100px;
  }
  .advantages__item__img::after {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .advantages__img > img {
    margin-left: -150px;
    width: calc(100% + 150px);
  }
  .advantages__item__img {
    width: 70px;
    min-width: 70px;
    height: 70px;
  }
  .advantages__item__img::after {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 418px) {
  .advantages__item__img {
    margin-right: 20px;
    width: 50px;
    min-width: 50px;
    height: 50px;
  }
  .advantages__item__img::after {
    top: 0px;
    right: -10px;
    width: 40px;
    height: 40px;
  }
}

.advantages__bcg {
  position: absolute;
  top: calc(50% - 132px);
  right: -20%;
  width: 364px;
  height: 364px;
  border-radius: 50%;
  background-color: #e8faff;
  z-index: -1;
}
.advantages__bcg > span {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #e8faff;
}
.advantages__bcg span:nth-child(1) {
  top: -90px;
  left: -90px;
  width: 544px;
  height: 544px;
}
.advantages__bcg span:nth-child(2) {
  top: -180px;
  left: -180px;
  width: 724px;
  height: 724px;
}
.advantages__bcg span:nth-child(3) {
  top: -270px;
  left: -270px;
  width: 904px;
  height: 904px;
}
.advantages__bcg span:nth-child(4) {
  top: -360px;
  left: -360px;
  width: 1084px;
  height: 1084px;
}
.advantages__bcg span:nth-child(5) {
  top: -450px;
  left: -450px;
  width: 1264px;
  height: 1264px;
}

.text__list {
  list-style: none;
}
.text__list > li {
  position: relative;
  padding-left: 58px;
  margin-bottom: 32px;
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 300;
}
.text__list > li::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 39px;
  height: 31px;
  background: url(../img/check-1.png) no-repeat center;
  background-size: 100%;
}
.text__list > li:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .text__list > li {
    padding-left: 45px;
    margin-bottom: 25px;
    font-size: 21px;
  }
  .text__list > li::before {
    top: 50%;
    width: 32px;
    height: 26px;
    transform: translateY(-50%);
  }
}
@media (max-width: 768px) {
  .text__list > li {
    padding-left: 36px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .text__list > li::before {
    width: 25px;
    height: 20px;
  }
}

.ant-select-item-option-content {
  line-height: 34px;
}

picture {
  display: block; 
  min-height: 1rem;
}